[submodule "ycsbc-mock"]
	path = kvstore-ycsb/ycsbc-mock
    url = git@github.com:apanda/ycsbc-mock.git

[submodule "src/libbpf"]
	path = xdp-shard/src/libbpf
	url = https://github.com/libbpf/libbpf
[submodule "shenango-chunnel/caladan"]
	path = shenango-chunnel/caladan
	url = https://github.com/akshayknarayan/caladan
[submodule "dpdk-direct/dpdk-wrapper"]
	path = dpdk-direct/dpdk-wrapper
	url = https://github.com/akshayknarayan/dpdk-wrapper
