[submodule "ycsbc-mock"]
	path = kvstore-ycsb/ycsbc-mock
    url = git@github.com:apanda/ycsbc-mock.git

[submodule "src/libbpf"]
	path = xdp-shard/src/libbpf
	url = https://github.com/libbpf/libbpf
[submodule "shenango-chunnel/caladan"]
	path = shenango-chunnel/caladan
	url = https://github.com/akshayknarayan/caladan
[submodule "rdma-chunnel/io-queue-rdma"]
	path = rdma-chunnel/io-queue-rdma
	url = https://github.com/akshayknarayan/io-queue-rdma
